
# Hostname und IP für lokale Box: IP bitte anpassen, wenn mehrere VMs auf demselben Host laufen
# IP leer lassen, um dynamisch per DHCP eine zuzuweisen -- dann funktioniert der Hostsupdater jedoch nicht mehr
hostname: "YOURHOSTNAME"
ip: "192.168.X.X"

# Hier können Aliases für "hostname" definiert werden. Bitte als Array angeben, z.B.: ["hostname-alias1", "hostname-alias2"]
# aliases: []

# VM-Name ist optional. Standardmässig heisst die VM in VirtualBox wie der oben definierte Hostname
# vm_name: "YOURVMNAME"

# Hier "nfs" oder "rsync" angeben. Auf Mac funktionieren beide, auf Windows ist NFS vermutlich unbrauchbar
shared_folder_type: "nfs"

# Die folgenden Verzeichnisse werden per Rsync nicht synchronisiert. Wird nur verwendet, wenn shared_folder_type = "rsync"
rsync_exclude:
 - ".git/"
 - ".idea/"
 - "data/*"
 - "var/cache/*"
 - "var/logs/*"
 - "var/sessions/*"
 - "app/config/parameters.yml"
 - "run/data/log/nginx/*"
 - "run/data/log/supervisor/*"
 - "web/extjs/workspace/app/bootstrap.*"
 - "web/extjs/workspace/app/classic.*"
 - "web/extjs/workspace/app/modern.*"
 - "web/extjs/workspace/app/resources/node_modules/*"
 - "web/extjs/workspace/build/*"
 - "web/extjs/workspace/ext/*"
 - "web/extjs/workspace/loginApp/bootstrap.*"
 - "web/extjs/workspace/loginApp/classic.*"
 - "web/extjs/workspace/loginApp/modern.*"
 - "web/extjs/workspace/packages/remote/*"
 - "web/extjs/workspace/packages/local/login/resources/node_modules/*"
 - "vendor/*"

# VM-Parameter
vm_memory: 4096
vm_cpus: 2
